In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [16]:
files_csv

['desemprego_franca.csv',
 'desemprego_canada.csv',
 'desemprego_japao.csv',
 'desemprego_uk.csv',
 'desemprego_italia.csv',
 'desemprego_alemanha.csv',
 'desemprego_eua.csv']

In [35]:
#coding: utf-8
def corrige_colunas(csv):
    with open(csv, 'r', encoding='latim-1') as file:
        lines = file.readlines()
        
        for line in lines[0:5]:
            for y in [',']:
                x = line.replace(y, '.')
                new_collumn.append(x)
    
    with open(csv, 'w') as file:
        for i in new_collumn:
            file.write(i)

In [36]:
files = ['desemprego_franca.csv',
         'desemprego_canada.csv',
         'desemprego_japao.csv',
         'desemprego_uk.csv',
         'desemprego_italia.csv',
         'desemprego_alemanha.csv',
         'desemprego_eua.csv']

for x in files:
    coorrige_colunas(x)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe7 in position 37: invalid continuation byte

In [24]:
df = pd.read_csv('desemprego_franca.csv')

In [25]:
df

            Data;3788 - Taxa de desemprego - Fran�a - %
01/1994;12                                         50.0
02/1994;12                                         50.0
03/1994;12                                         50.0
04/1994;12                                         50.0
05/1994;12                                         40.0
...                                                 ...
04/2016;9                                          90.0
05/2016;9                                          90.0
06/2016;10                                         10.0
07/2016;10                                         30.0
Fonte;OCDE                                          NaN

[272 rows x 1 columns]